body {
  background: #EFEFF2;
}

.wrapper {
  background: #EFEFF2;
  position: relative;
}

.wrapper .menu {
  background: #23232C;
  height: 100%;
  position: fixed;
  width: 220px;
  z-index: 20;
  /*-----------------*/
  /*----------------*/
}

.wrapper .menu .contelogo {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.wrapper .menu .logo {
  background-position: 0px -48px;
  height: 94px;
  width: 94px;
  background: transparent url(../img/logo.png) no-repeat scroll 0% 0%;
  display: inline-block;
}

.wrapper .menu .input-group {
  width: 80%;
  margin: 15px 10%;
}

.wrapper .menu .input-group span {
  font-size: 16px;
}

.wrapper .menu .linkCustom, .wrapper .menu .enlaces1 li a, .wrapper .menu .enlaces2 li a, .wrapper .menu .user .imagen a, .wrapper .menu .user .icono a, .wrapper .menu .enlaces2 ul li a {
  display: block;
  color: #C2C2CA;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.wrapper .menu .linkCustom:hover, .wrapper .menu .enlaces1 li a:hover, .wrapper .menu .enlaces2 li a:hover, .wrapper .menu .user .imagen a:hover, .wrapper .menu .user .icono a:hover {
  text-decoration: none;
  color: #fff;
}

.wrapper .menu .enlaces1 ul, .wrapper .menu .enlaces2 ul {
  list-style-type: none;
  padding: 0;
}

.wrapper .menu .enlaces1 li, .wrapper .menu .enlaces2 li {
  height: 32px;
}

.wrapper .menu .enlaces1 li a, .wrapper .menu .enlaces2 li a {
  padding-left: 10%;
  line-height: 32px;
}

.wrapper .menu .enlaces1 li a:hover, .wrapper .menu .enlaces2 li a:hover {
  background: #1C1C25;
}

.wrapper .menu .user {
  border-top: 1px solid #666;
  width: 80%;
  margin-left: 10%;
  height: 66px;
}

.wrapper .menu .user .imagen {
  float: left;
  padding-top: 16px;
}

.wrapper .menu .user .imagen img {
  width: 34px;
  border: 2px solid #333;
  border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  -webkit-border-radius: 17px 17px 17px 17px;
}

.wrapper .menu .user .imagen a {
  text-transform: capitalize;
}

.wrapper .menu .user .icono {
  float: right;
  padding-top: 20px;
}

.wrapper .menu .user .icono a span {
  color: #C2C2CA;
}

.wrapper .menu .sucripcion {
  text-align: center;
}

.wrapper .menu .sucripcion .btn {
  width: 80%;
  background-color: #007FEB;
}

.wrapper .menu .sucripcion .btn:hover {
  background-color: #0B66CD;
}

.wrapper .menu .enlaces2 {
  margin-top: 15px;
}

.wrapper .menu .enlaces2 ul li {
  height: 35px;
}

.wrapper .menu .enlaces2 ul li a {
  padding-left: 10%;
  line-height: 35px;
  text-transform: none;
  text-decoration: none;
}

.wrapper .menu .enlaces2 ul li a:hover {
  background: #1C1C25;
}

.wrapper .menu .enlaces2 ul li a span {
  font-size: 16px;
  margin-right: 10px;
}

.wrapper .menu .cancion {
  bottom: 0;
  position: absolute;
  background: #23232C;
}

.wrapper .menu .cancion img {
  max-width: 220px;
}

.wrapper .menu .cancion .controles {
  height: 50px;
  text-align: center;
  margin-top: 7px;
}

.wrapper .menu .cancion .controles .play {
  height: 50px;
  width: 150px;
  margin-left: 35px;
}

.wrapper .menu .cancion .controles .play a {
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  float: left;
}

.wrapper .menu .cancion .controles .play a span {
  font-size: 18px;
  padding-top: 13px;
}

.wrapper .menu .cancion .controles .play a .glyphicon-play {
  font-size: 32px;
  padding-top: 5px;
}

.wrapper .menu .cancion .controles .reproduccion {
  height: 20px;
  width: 100%;
}

.wrapper .menu .cancion .controles .reproduccion a {
  color: #C2C2CA;
  width: 25%;
  height: 30px;
  display: block;
  float: left;
}

.wrapper .menu .cancion .controles .reproduccion a:hover {
  color: #fff;
}

.wrapper .menu .cancion .controles .reproduccion a span {
  font-size: 14px;
}

.wrapper .menu .cancion .controles .reproduccion .active {
  color: #007FEB;
}

@keyframes example {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}

.wrapper .modal .menu2 {
  height: 100%;
  position: absolute;
  width: 300px;
  background: #F8F8FA;
  left: -300px;
}

.wrapper .modal .menu2 .contelogo {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.wrapper .modal .menu2 .contelogo .logo {
  background-position: 0px -48px;
  height: 94px;
  width: 94px;
  background: transparent url(../img/logo_b.png) no-repeat scroll 0% 0%;
  display: inline-block;
}

.wrapper .modal .menu2 .cantAlbum {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 50px;
  margin-top: 20px;
}

.wrapper .modal .menu2 .cantAlbum p {
  float: left;
  margin-left: 10px;
  margin-top: 13px;
}

.wrapper .modal .menu2 .cantAlbum .dropdown {
  float: right;
  margin-right: 10px;
  margin-top: 11px;
}

.wrapper .modal .menu2 .cantAlbum .dropdown .btn {
  height: 26px;
}

.wrapper .modal .menu2 .cantAlbum .dropdown .btn .glyphicon {
  top: -2px;
}

.wrapper .modal .menu2 .cantAlbum .dropdown .btn .caret {
  margin-top: -8px;
  margin-left: 3px;
  color: #007FEB;
}

.wrapper .modal .menu2 .listAlbum {
  margin-top: 25px;
}

.wrapper .modal .menu2 .listAlbum .btnAlbum {
  display: block;
  height: 56px;
  width: 94%;
  margin-left: 3%;
  margin-top: 7px;
  cursor: pointer;
}

.wrapper .modal .menu2 .listAlbum .btnAlbum .fotoCover {
  width: 56px;
  float: left;
}

.wrapper .modal .menu2 .listAlbum .btnAlbum .playHover {
  position: relative;
  width: 36px;
  height: 36px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 18px;
  border: 2px solid #999;
  top: 10px;
  left: 10px;
  background-image: url("../img/play.png");
  display: none;
}

.wrapper .modal .menu2 .listAlbum .btnAlbum p {
  padding: 0;
  margin: 0 0 0 12px;
  float: left;
  margin-top: 3px;
}

.wrapper .modal .menu2 .listAlbum .btnAlbum .Talbum {
  font-size: 14px;
  width: 200px;
  line-height: 15px;
}

.wrapper .modal .menu2 .listAlbum .btnAlbum .Tartista {
  font-size: 12px;
  color: #aaa;
}

.wrapper .modal .menu2 .listAlbum .btnAlbum:hover {
  background: #EFEFF2;
  text-decoration: none;
}

.wrapper .modal .menu2 .listAlbum .btnAlbum:hover .playHover {
  display: block;
}

.wrapper .home {
  position: absolute;
  margin-left: 220px;
}

.wrapper .home .content {
  width: 90%;
  margin: 30px 5% 0 5%;
  height: auto;
}

.wrapper .home .content .banner {
  width: 100%;
  height: 250px;
  background: #333;
}

.wrapper .home .content .banner .carousel {
  height: 250px;
  overflow: hidden;
}

.wrapper .home .content .banner .carousel .carousel-inner {
  height: 250px;
}

.wrapper .home .content .banner .carousel .carousel-inner img {
  width: 100%;
  margin-top: -50%;
  position: relative;
  opacity: .8;
}

.wrapper .home .content .banner .carousel .carousel-inner .carousel-caption {
  bottom: 0;
  position: absolute;
}

.wrapper .home .content .menuP {
  margin-top: 25px;
}

.wrapper .home .content .menuP .item {
  height: 54px;
  line-height: 54px;
  margin: 0;
}

.wrapper .home .content .menuP .item .btnMenu {
  background: #fff;
  display: block;
  width: 100%;
  height: 100%;
  color: #555;
  font-size: 18px;
  letter-spacing: .7px;
  text-decoration: none;
  padding-left: 15px;
}

.wrapper .home .content .menuP .item .btnMenu .glyphicon {
  color: #999;
}

.wrapper .home .content .menuP .item .btnMenu .glyphicon-menu-right {
  float: right;
  margin: 15px 15px;
}

.wrapper .home .content .menuP .item .btnMenu:hover {
  color: #222;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .home .content .menuP .item .btnMenu:hover .glyphicon {
  color: #222;
}

.wrapper .home .content .menuP .itemCentral {
  padding-left: 5px;
  padding-right: 5px;
}

.wrapper .home .content .separador {
  margin-top: 50px;
  border-top: 1px solid #bbb;
  text-align: center;
}

.wrapper .home .content .separador p {
  background: #EFEFF2;
  margin-top: -12px;
  width: 220px;
  margin-left: -110px;
  left: 50%;
  position: absolute;
  font-size: 16px;
  color: #666;
}

.wrapper .home .content .separador .titulo2 {
  width: 160px;
  margin-left: -80px;
}

.wrapper .home .content .subtitle {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
  color: #999;
  margin-bottom: -10px;
}

.wrapper .home .content .listaPlaylist {
  margin: 35px 0 35px -12px;
}

.wrapper .home .content .listaPlaylist .playlistHome {
  height: auto;
  display: block;
  padding: 0;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList {
  padding-left: 12px;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .opciones {
  width: 100%;
  height: 100%;
  display: block;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .opciones img {
  width: 100%;
  position: relative;
  float: left;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .opciones .opc {
  width: 170px;
  height: 170px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .opciones .opc .like {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  color: #ccc;
  margin: 10px;
  float: left;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .opciones .opc .like:hover {
  color: #fff;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .opciones .opc .mas {
  float: right;
  margin-top: 8px;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .opciones:hover .opc {
  display: block;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .detalle {
  height: 70px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  padding: 17px 15px;
  float: left;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .detalle .linkNombre {
  color: #333;
  font-size: 18px;
  line-height: 18px;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .detalle .linkNombre:hover {
  color: #007FEB;
}

.wrapper .home .content .listaPlaylist .playlistHome .itemList .detalle .pArt {
  font-size: 12px;
  color: #999;
  line-height: 18px;
}

.wrapper .cuerpo {
  background: #fff;
  position: absolute;
  margin-left: 220px;
  display: none;
}

.wrapper .cuerpo .cabAlbum {
  height: 250px;
}

.wrapper .cuerpo .cabAlbum .conteFoto {
  width: 200px;
  height: 200px;
  margin: 30px 30px 20px 30px;
  float: left;
}

.wrapper .cuerpo .cabAlbum .conteFoto img {
  width: 100%;
}

.wrapper .cuerpo .cabAlbum .infoAlbum {
  float: left;
  width: 70%;
}

.wrapper .cuerpo .cabAlbum .infoAlbum h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  letter-spacing: -1.5px;
  margin-top: 35px;
}

.wrapper .cuerpo .cabAlbum .infoAlbum h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: -1.5px;
  color: #999;
  margin: 0;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles {
  color: #999;
  margin-top: 45px;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .privacidad {
  height: 30px;
  border-bottom: 1px solid #ccc;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .privacidad p {
  float: left;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .privacidad .separador {
  margin: 0 15px;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .linkBoton {
  display: block;
  color: #C2C2CA;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: none;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .linkBoton:hover {
  text-decoration: none;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .opciones {
  margin-top: 10px;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .opciones a {
  @entend .linkBoton;
  width: 100px;
  /*&:hover{
                                color: #fff;
                            }*/
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .opciones .editar {
  width: 40px;
  margin-left: 8px;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .opciones .duracion {
  float: right;
  width: 140px;
  font-size: 12px;
  text-align: center;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .opciones .duracion .cantidad {
  width: 60px;
  float: left;
  padding-right: 12px;
  border-right: 1px solid #aaa;
}

.wrapper .cuerpo .cabAlbum .infoAlbum .detalles .opciones .duracion .duracell {
  width: 70px;
  float: right;
}

.wrapper .cuerpo .menuP {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #ccc;
}

.wrapper .cuerpo .menuP ul {
  list-style-type: none;
}

.wrapper .cuerpo .menuP ul li {
  display: inline;
  margin-right: 40px;
  float: left;
  text-align: center;
}

.wrapper .cuerpo .menuP ul li a {
  display: block;
  font-size: 16px;
  color: #999;
  font-weight: bold;
  width: 130px;
  height: 36px;
}

.wrapper .cuerpo .menuP ul li a:hover {
  text-decoration: none;
  color: #222;
  border-bottom: 3px solid #007FEB;
}

.wrapper .cuerpo .menuP ul li .active {
  color: #222;
  border-bottom: 3px solid #007FEB;
}

.wrapper .cuerpo .menuSec {
  background: #EFEFF2;
  height: 65px;
  padding: 25px 10px 10px;
}

.wrapper .cuerpo .menuSec span {
  font-size: 14px;
}

.wrapper .cuerpo .menuSec .sugerir {
  background: #007FEB;
}

.wrapper .cuerpo .menuSec .sugerir:hover {
  background: #0B66CD;
}

.wrapper .cuerpo .menuSec .derecha {
  float: right;
  width: 261px;
}

.wrapper .cuerpo .menuSec .derecha .dropdown {
  width: 80px;
  float: left;
}

.wrapper .cuerpo .menuSec .derecha .dropdown .caret {
  color: #007FEB;
}

.wrapper .cuerpo .menuSec .derecha .buscador {
  width: 180px;
}

.wrapper .cuerpo .listado .table {
  color: #888;
  /*
                margin-left: 10px;
                margin-right: 10px;*/
}

.wrapper .cuerpo .listado .table tbody > tr:nth-of-type(2n+1) {
  background-color: #F7F6F7;
}

.wrapper .cuerpo .listado .table tbody > tr:hover {
  background-color: #E8E8EC;
}

.wrapper .cuerpo .listado .table tbody > tr {
  height: 30px;
}

.wrapper .cuerpo .listado .table tbody > tr > td {
  padding: 4px 8px;
}

.wrapper .cuerpo .listado .table .namePlay {
  color: #888;
  cursor: pointer;
}

.wrapper .cuerpo .listado .table .namePlay:hover {
  color: #007FEB;
}

.wrapper .cuerpo .listado .table .cabecera {
  background: #A2A2AD !important;
  color: #fff;
  height: 30px;
}

.wrapper .cuerpo .listado .table .cabecera .durac {
  width: 70px;
}

.wrapper .cuerpo .listado .table .cabecera .anade, .wrapper .cuerpo .listado .table .cabecera .fav {
  width: 40px;
}
