$celeste: #007FEB;
body{
    background: #EFEFF2;
}
.wrapper{
    background: #EFEFF2;
    position: relative;
    
    .menu{
        background: #23232C;
        height: 100%;
        position: fixed;
        width: 220px;
        z-index: 20;
        .contelogo{
            margin: 0 auto;
            text-align: center;
            padding-top: 20px;
        }
        .logo{
            background-position: 0px -48px;
            height: 94px;
            width: 94px;
            background: transparent url(../img/logo.png) no-repeat scroll 0% 0%;
            display: inline-block;
        }
        
        .input-group{
            width: 80%;
            margin: 15px 10%;
            span{
                font-size: 16px;
            }
        }
        /*-----------------*/
        .linkCustom{
            display: block;
            color: #C2C2CA;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }
        /*----------------*/
        .enlaces1{
            ul{ list-style-type: none; padding: 0; }
            li{ 
                height: 32px;
                a{
                    @extend .linkCustom;
                    padding-left: 10%;
                    line-height: 32px;
                    &:hover{
                        background: #1C1C25;
                    }
                }
            }
        }
        .user{
            border-top: 1px solid #666;
            width: 80%;
            margin-left: 10%;
            height: 66px;
            .imagen{
                float: left;
                padding-top: 16px;
                img{
                    width: 34px;
                    border: 2px solid #333;
                    border-radius: 17px 17px 17px 17px;
                    -moz-border-radius: 17px 17px 17px 17px;
                    -webkit-border-radius: 17px 17px 17px 17px;
                }
                a{
                    @extend .linkCustom; 
                    text-transform:capitalize;
                }
            }
            .icono{
                float: right;
                padding-top: 20px;
                a{
                    @extend .linkCustom; 
                    
                    span{
                        color: #C2C2CA;
                    }
                }
                
            }
        }
        .sucripcion{
            text-align: center;
            .btn{
                width: 80%;
                background-color: #007FEB;
                &:hover{
                    background-color: #0B66CD;
                }
            }
        }
        .enlaces2{
            @extend .enlaces1;
            margin-top: 15px;
            ul{
                li{
                    height: 35px;
                    a{
                        @extend .linkCustom;
                        padding-left: 10%;
                        line-height: 35px;
                        text-transform: none;
                        text-decoration: none;
                        &:hover{
                            background: #1C1C25;
                        }
                        span{
                            font-size: 16px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .cancion{
            bottom: 0;
            position: absolute;
            background: #23232C;
            img{
                max-width: 220px;
            }
            .controles{
                height: 50px;
                text-align: center;
                margin-top: 7px;
                .play{
                    height: 50px;
                    width: 150px;
                    margin-left: 35px;
                    a{
                        color: #fff;
                        width: 50px;
                        height: 50px;
                        display: block;
                        float: left;
                        span{
                            font-size: 18px;
                            padding-top: 13px;
                        }
                        .glyphicon-play{
                            font-size: 32px;
                            padding-top: 5px;
                        }
                    }
                }
                .reproduccion{
                    height: 20px;
                    width: 100%;
                    a{
                        color: #C2C2CA;
                        width: 25%;
                        height: 30px;
                        display: block;
                        float: left;
                        &:hover{
                            color: #fff;
                        }
                        span{
                            font-size: 14px;
                        }
                    }  
                    .active{
                        color: #007FEB;
                    }
                }
            }
        }
    }
    
    .modal{
        @keyframes example {
            0%   {left:-300px; }
            100% {left:0px; }
        }
        .menu2{
            height: 100%;
            position: absolute;
            width: 300px;
            background: #F8F8FA;
            left: -300px;
//            animation: example .3s;
            
            .contelogo{
                margin: 0 auto;
                text-align: center;
                padding-top: 20px;
                .logo{
                    background-position: 0px -48px;
                    height: 94px;
                    width: 94px;
                    background: transparent url(../img/logo_b.png) no-repeat scroll 0% 0%;
                    display: inline-block;
                }
            }
            .cantAlbum{
                border-top:1px solid #ddd;
                border-bottom:1px solid #ddd;
                height: 50px;
                margin-top: 20px;
                p{float: left;margin-left: 10px;margin-top: 13px;}
                .dropdown{
                    float: right;
                    margin-right: 10px;
                    margin-top: 11px;
                    .btn{
                        height: 26px;
                        .glyphicon{top: -2px;}
                        .caret{margin-top:-8px;margin-left: 3px;color: #007FEB;}
                    }
                }
            }
            .listAlbum{
                margin-top: 25px;
                .btnAlbum{
                    display: block;
                    height: 56px;
                    width: 94%;
                    margin-left: 3%;
                    margin-top: 7px;
                    cursor: pointer;
                    .fotoCover{
                        width: 56px;
                        float: left;
                    }
                    .playHover{
                        position: relative;
                        width: 36px;
                        height: 36px;
                        background: rgba(0,0,0,.7);
                        border-radius: 18px;
                        border: 2px solid #999;
                        top: 10px;
                        left: 10px;
                        background-image: url("../img/play.png");
                        display: none;
                    }
                    p{padding: 0;margin: 0 0 0 12px; float: left; margin-top: 3px;}
                    .Talbum{
                        font-size: 14px;
                        width: 200px;
                        line-height: 15px;
                    }
                    .Tartista{
                        font-size: 12px;
                        color: #aaa;
                        
                    }
                    
                    &:hover{
                        background: #EFEFF2;
                        text-decoration: none;
                        .playHover{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
    .home{
        position: absolute;
        margin-left: 220px;
        .content{
            width: 90%;
            margin: 30px 5% 0 5%;
            height: auto;
//            background: #ddd;
            .banner{
                width: 100%;
                height: 250px;
                background: #333;
                
                .carousel{
                    height: 250px;
                    overflow: hidden;
                    .carousel-inner{
                        height: 250px;
                        img{
                            width: 100%;
                            margin-top: -50%;
                            position: relative;
                            opacity: .8;
                        }
                        .carousel-caption{
                            bottom: 0;
                            position: absolute;
                        }
                    }
                }
            }
            .menuP{
                margin-top: 25px;
                .item{
                    height: 54px;
                    line-height: 54px;
                    margin: 0;
                    .btnMenu{
                        background: #fff;
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: #555;
                        font-size: 18px;
                        letter-spacing: .7px;
                        text-decoration: none;
                        padding-left: 15px;
                        
                        .glyphicon{
                            color: #999;
                        }
                        .glyphicon-menu-right{
                            float: right;
                            margin: 15px 15px;
                        }
                        
                        &:hover{
                            color: #222;
                            -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);
                            -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);
                            box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);
                            .glyphicon{
                                color: #222;
                            }
                        }
                    }
                }
                .itemCentral{padding-left: 5px;padding-right: 5px;}
            }
            
            .separador{
                margin-top: 50px;
                border-top: 1px solid #bbb;
                text-align: center;
                p{
                    background: #EFEFF2;
                    margin-top: -12px;
                    width: 220px;
                    margin-left: -110px;
                    left: 50%;
                    position: absolute;
                    font-size: 16px;
                    color: #666;
                }
                .titulo2{
                    width: 160px;
                    margin-left: -80px;
                }
            }
            .subtitle{
                font-size: 11px;
                text-align: center;
                margin-top: 10px;
                color: #999;
                margin-bottom: -10px;
            }
            
            .listaPlaylist{
                margin: 35px 0 35px -12px;
                .playlistHome{
                    height: auto;
                    display: block;
                    padding: 0;
                    .itemList{
                        padding-left: 12px;
//                        background: grey;
                        .opciones{
                            width: 100%;
                            height: 100%;
                            display: block;
                            img{
                                width: 100%;
                                position: relative;
                                float: left;
                            }
                            .opc{
                                width: 170px;
                                height: 170px;
                                background: rgba(0,0,0,.5);
                                position: absolute;
                                display: none;
                                .like{
                                    width: 20px;
                                    height: 20px;
                                    display: block;
                                    cursor: pointer;
                                    color: #ccc;
                                    margin: 10px;
                                    float: left;
                                    &:hover{
                                        color: #fff;
                                    }
                                }
                                .mas{
                                    float: right;
                                    margin-top: 8px;
                                }
                            }
                            &:hover{
                                .opc{
                                    display: block;
                                }
                            }
                        }
                        .detalle{
                            height: 70px;
                            width: 100%;
                            background: #fff;
                            -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);
                            -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);
                            box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.1);
                            padding: 17px 15px;
                            float: left;
                            .linkNombre{
                                color: #333;
                                font-size: 18px;
                                line-height: 18px;
                                &:hover{
                                    color: $celeste;
                                    
                                }
                            }
                            .pArt{
                                font-size: 12px;
                                color: #999;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }    
    }
    
    .cuerpo{
        background: #fff;
        position: absolute;
        margin-left: 220px;
        display: none;
        .cabAlbum{
            height: 250px;
            .conteFoto{
                width: 200px;
                height: 200px;
                margin: 30px 30px 20px 30px;
                float: left;
                img{
                    width: 100%;
                }
            }
            .infoAlbum{
                float: left;
                width: 70%;
                
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 28px;
                    letter-spacing: -1.5px;
                    margin-top: 35px;
                }
                h2{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    letter-spacing: -1.5px;
                    color: #999;
                    margin: 0;
                }
                .detalles{
                    color: #999;
                    margin-top: 45px;
                    .privacidad{
                        height: 30px;
                        border-bottom: 1px solid #ccc;
                        p{
                            float: left;
                        }
                        .separador{
                            margin: 0 15px;
                        }    
                    }
                    .linkBoton{
                        display: block;
                        color: #C2C2CA;
                        font-family: 'Roboto Condensed', sans-serif;
                        text-transform: none;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    .opciones{
                        margin-top: 10px;
                        a{
                            @entend .linkBoton;
                            width: 100px;
                            /*&:hover{
                                color: #fff;
                            }*/
                        }
                        .editar{
                            width: 40px;
                            margin-left: 8px;
                        }
                        .duracion{
                            float: right;
                            width: 140px;
                            font-size: 12px;
                            text-align: center;
                            .cantidad{
                                width: 60px;
                                float: left;
                                padding-right: 12px;
                                border-right: 1px solid #aaa;
                            }
                            .duracell{
                                width: 70px;
                                float: right;
                            }
                        }
                    }

                }
            }
        }
        
        .menuP{
            width: 100%;
            height: 36px;
            border-bottom: 1px solid #ccc;
            ul{
                list-style-type: none;
                li{
                    display: inline;
                    margin-right: 40px;
                    float: left;
                    text-align: center;
                    a{
                        display: block;
                        font-size: 16px;
                        color: #999;
                        font-weight: bold;
                        width: 130px;
                        height: 36px;
                        &:hover{
                            text-decoration: none;
                            color: #222;
                            border-bottom: 3px solid #007FEB;
                        }
                        
                    }
                    .active{
                        color: #222;
                        border-bottom: 3px solid #007FEB;
                    }
                }
            }
        }
        
        .menuSec{
            background: #EFEFF2;
            height: 65px;
            padding:25px 10px 10px; 
            
            span{
                font-size: 14px;
            }
            .sugerir{
                background: #007FEB;
                &:hover{
                    background: #0B66CD;
                }
            }
            .derecha{
                float: right;
                width: 261px;
                .dropdown{
                    width: 80px;
                    float: left;
                    .caret{
                        color: #007FEB;
                    }
                }
                .buscador{
                    width: 180px;
                }
            }
        }
        
        .listado{
            .table{
                color: #888;/*
                margin-left: 10px;
                margin-right: 10px;*/
                tbody > tr:nth-of-type(2n+1) {
                    background-color: #F7F6F7;
                }
                tbody>tr:hover{background-color:#E8E8EC}
                tbody>tr{height: 30px;}
                tbody > tr > td{ padding: 4px 8px; }
                
                .namePlay{
                    color: #888;
                    cursor: pointer;
                    &:hover{
                        color: #007FEB;
                    }
                }
                .cabecera{
                    background: #A2A2AD !important;
                    color: #fff;
                    height: 30px;
                    .durac{
                        width: 70px;
                    }
                    .anade, .fav{
                        width: 40px;
                        
                    }
                }
            }
        }
    }
}

